/* ================================
   CHART SECTION
================================ */
.chart-section {
    width: 100%;
    margin-top: 40px;
}

.chart-card {
    background: #ffffff;
    padding: 22px;
    border-radius: 14px;
    margin-bottom: 22px;
    box-shadow: 0 0 0 4px #8b0000;
}

.chart-title {
    font-size: 24px;
    font-weight: 700;
    color: #222;
    margin-bottom: 4px;
}

.chart-subtitle {
    font-size: 15px;
    font-weight: 500;
    color: #555;
}

.chart-label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.chart-dropdown {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #a60000;
}

